

.button-permanent {
    text-decoration: none;
  background: linear-gradient(90deg, #1E90FF, #39FF14);
  color: black;
  padding: 0.8rem;
  font-weight: bold;
  border-radius: 1rem;
  transition: 0.3s;
  cursor: pointer;
}

.button-permanent:hover {
    text-decoration: none;
  background: linear-gradient(90deg, #55a3f1, #59f23e);
  transform: translateY(-0.2rem);
}
