.card-custom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 18rem;
    background-color: none;
    padding: .6rem .3rem .6rem .3rem;
}

.card-body-custom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}