.current-card {
    background-color: black;
    width: 20rem;
    height: 45rem;
    transition: transform 0.4s, box-shadow 0.4s, border-color 0.4s;
    border-radius: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.2);
}


.current-card > img{
    height: 40%;
}

.current-card > .current-body > .current-buttons > button{
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.4);
    padding: .3rem .6rem .3rem .6rem;
    border-radius: 1rem;
    transition: .5s;
}

.current-card:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.6);
}

.current-card > .current-body > .current-buttons > button:hover{
    background-color: rgba(255, 255, 255, 0.15);
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    transition: .5s;
}

.current-news > .card-body > h5{
    font-weight: 800;

}

.current-news > .card-body > p{
    font-weight: 600;
    text-wrap: initial;

}

